body{
    background-size: cover;
    background: url("./download.png");
}

.search{
    width: 100%;
    background-color: transparent;
    margin-top: 9vh;
    padding: 5vh 5.5vw;
}

.trendingg>h3{
    color: white;
}

.search>h2{
    color: white;
}

input{
    width: 60vw;
    border: none;
    outline: none;
    background-color: transparent;
}

.searchinp{
    margin-top: 5vh;
    width: max-content;
    padding: 2vh;
    background-color: white;
    border-radius: 30px;
}

.main{
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

.contents{
    padding: 5vh 5.5vw;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.trending{
    display: flex;
    gap: 2vw;
    overflow-x: auto;
    width: 92vw;
}

.trending::-webkit-scrollbar{
    display: none;
}

.end{
    width: 100%;
    height: 60vh;
    background-color: #212529;
    padding: 10vh 0vh;
}

.center{
    margin: auto;
    padding: 5vh;
    width: max-content;
    display: flex;
    gap: 7vh;
}

.credit>h2{
    color: white;
    font-weight: bold;

}

.credit>p{
    color: white;
}


.credit>h5{
    color: white;
    font-weight: bold;
}


.credit>h6{
    color: white;
    margin-bottom: 2vh;
}